# Dependencies
node_modules/

# Next.js Build
.next/
out/

# Environment Variables
.env
.env*.local
.env.production
.env.development

# Vercel Artifacts
.vercel/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
